*, *::before, *::after {
box-sizing:border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/* :root{
--hue-neutral:200;
--hue-wrong:0;
--hue-correct:145;
} */

body{
/* --hue: var(--hue-neutral);     */
padding:0;
margin:0;
display:flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
/* background-color:hs1(var(--hue),100% 20%); */
}

.container {
    width:800px;
    max-width: 80%;
    background-color: purple;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid{
display:grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin:20px 0;

}